__pycache__
*.pyc
*.pyo

*.sqlite3
*.db

.DS_Store
.vscode

django/static/
django/media/
django/react/.cache
django/react/node_modules
django/react/package-lock.json
django/react/npm-debug.log
django/react/build
